.basketDiv{
    background-color: rgba(182, 30, 187, 0.26);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    z-index: 3;
}
.basketDiv h2{
    font-size: 50px;
    text-align: center;
    width: 100%;
}
.closeBasket{
    position: absolute;
    right: 0;
    top: 0;
}
.basketList{
    font-size: 30px;
}