.basketDiv{
    background-color: rgba(182, 30, 187, 0.836);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    z-index: 3;
}
.basketDiv h2{
    color: rgb(255, 238, 0);
    font-size: 50px;
    text-align: center;
    width: 100%;
}
.listInBasket{
    display: flex;
}
.closeBasket{
    position: absolute;
    right: 0;
    top: 0;
}
.basketList,.ordersList{
    color: rgb(231, 231, 231);
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    width: 70%;
}
.ordersList{
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
   flex-direction: column;
   justify-content: space-between;
}
.currentPrice{
    color: rgb(255, 238, 0);
    font-size: 40px;
    
    margin-top: 40px;
    
    text-align: end;
    width: 90%;
}
.currentPrice span{
    color: rgb(255, 255, 255);
    font-size: 60px;
}
.buttonBuy{
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
   color: white;
    font-size: 40px;
    margin-left: 60%;
  
    
  
}
@media screen and (max-width:800px) {
    .basketDiv {
        background-color: rgba(182, 30, 187, 0.507);
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        z-index: 3;
    }
}