.container{
    background-color:   rgba(173, 27, 202, 0.418);
    ;
    height: 50%;
    border-radius: 5%;
    left: 9%;
    position: absolute;
    text-align: center;
    top: 30%;
    padding: 1%;
    width: 40%;
}
.container h1{
    color: rgb(221, 209, 35);
    font-size: 70px;
}
.container p{
    color: rgb(209, 160, 24) ;
    font-size: 30px;
}