.items{
    background-color:   rgba(173, 27, 202, 0.384);
    border-radius: 10px;
    color: rgb(228, 212, 68);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 84%;
    position: absolute;
    top: 25%;
    right: 5%;
    width: 60%;
}
.items h2{
    font-size: 45px;
    text-align: center;
    width: 90%;
}
.holderForInfo{
    width: 40%;
}
.holderForItems{
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 80%;
}
.item{
    width: 65%;
}
.item img{
    border-radius: 10px;
    cursor: pointer;
    width: 85%;
    height: 85%;
    transform: rotate(2deg);
    opacity: 0.6;
}
.item img:hover{
    opacity: 1;
}
.holderForInfo h3{
    font-size: 40px;
}
.listAtractions >li{
    font-size: 30px;
    margin-top: 50px;
}
.listAtractions >li:hover{
    cursor: pointer;
    color: rgb(215, 84, 233);
}
