.currentInfo{
    background-color:   rgba(173, 27, 202, 0.384);
    border-radius: 10px;
    color: rgb(228, 212, 68);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 84%;
    position: absolute;
    top: 25%;
    right: 5%;
    width: 60%;
}
.currentInfo h2{
    font-size: 50px;
    width: 100%;
    text-align: center;
}
.price{
   
    font-size: 40px;
    margin-bottom: 10%;
    margin-top: 0;
    width: 30%;
}
.description{
    font-size: 20px;
   
    margin: 0;
    padding: 1%;
    width: 40%;
    text-align: justify;
}
.currentInfo img{
    border-radius: 100px;
    height: 50%;
    width: 50%;
}
.currentInfo input{

    height: 5%;
    margin: 0;
    width: 5%;
}
.currentInfo button{
    align-items: flex-start;
    display: flex;
    font-size: 35px;
    height: 10%;
    

}
