.items{
    background-color:   rgba(173, 27, 202, 0.384);
    border-radius: 10px;
    color: rgb(228, 212, 68);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 84%;
    position: absolute;
    top: 25%;
    right: 5%;
    width: 60%;
}
.items h2{
    font-size: 45px;
    text-align: center;
    width: 90%;
}
.holderForInfo{
    width: 40%;
}
.holderForItems{
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    width: 40%;
    height: 80%;
}
.item{
    width: 65%;
}
.item img{
    border-radius: 10px;
    cursor: pointer;
    width: 78%;

    transform: rotate(2deg);
    opacity: 0.6;
}
.item img:hover{
    opacity: 1;
}
.holderForInfo h3{
    font-size: 40px;
}
.listAtractions a{
    color: rgb(228, 212, 68);

    font-size: 30px;
    margin-top: 80px;
    text-decoration: none;
}
.listAtractions >a:hover{
    cursor: pointer;
    color: rgb(215, 84, 233);
}
@media screen and (max-width:1600px) {
    .item img{
        border-radius: 10px;
        cursor: pointer;
        width: 78%;
        height: 100px;
        transform: rotate(2deg);
        opacity: 0.6;
    }
}
@media screen and (max-width:1200px){
    .items{
        height: 65%;
    }
    .items h2{
        font-size: 25px;
    }
    .holderForInfo h3{
        font-size: 22px;
    }
    .listAtractions a{
        font-size: 19px;
    }
}
@media screen and (max-width:800px) {
    .items{
        left: 10%;
        width: 100%;
        top: 94%;
    }
    .holderForItems {
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        width: 50%;
        height: 80%;
    }
    .item img {
        border-radius: 10px;
        cursor: pointer;
        width: 100%;
        height: 102px;
        transform: rotate(2deg);
        opacity: 0.6;
    }
}
