nav{
    align-items: center;
   background-color:none;
    color: rgba(173, 27, 202, 0.829);
    display: flex;
   justify-content:flex-start
   ;
    position: absolute;
    top:3%;
    width: 100%;
    height: 10%;
}
nav h2{
    font-size: 70px;
    margin-left: 9%;
    margin-right: 15.5%;
    text-shadow: 2px 2px 0px;
}
button{
    color:rgba(173, 27, 202, 0.829) ;
    cursor: pointer;
    background: none;
    border: none;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 55px;
    font-weight: 700;
    margin-right: 5%;
    
}
button:hover{
    color: yellow;
}
