nav{
    align-items: center;
   background-color:none;
    color: rgba(173, 27, 202, 0.829);
    display: flex;
   justify-content:flex-start
   ;
    position: absolute;
    top:3%;
    width: 100%;
    height: 10%;
    z-index: 3;
}
.home {
    color: rgb(223, 92, 223);
    font-size: 40px;
    margin-left: 9%;
    margin-right: 15.5%;
    text-shadow: 2px 2px 0px;
}
button{
    align-items: center;
    color:rgba(173, 27, 202, 0.829) ;
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 55px;
    font-weight: 700;
    margin-right: 5%;
    
}
button:hover{
    color: yellow;
}
input{
    background-color: rgba(0, 0, 0, 0.247);
    border: none;
    color: rgb(204, 207, 32);
    height: 30%;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 10%;
    width: 10%;
}
@media screen and (max-width:800px) {
    .home{
        font-size: 25px;
    }
    a{
        font-size: 20px;
    }
}
